.nav {
	background-color: blue;

}

.nav li {
	display: inline;
}

.jumbotron {
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/f/ff/Domestic_goat_kid_in_capeweed.jpg');
  	height: 750px;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.jumbotron #about {
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/f/ff/Domestic_goat_kid_in_capeweed.jpg');
  	height: 750px;
  	background-repeat: no-repeat;
  	background-size: cover;
}
