#nav {
  background-color: #0066CC;
  margin-top: 0px;
  height: 75px;
  width: 100%;
  position: fixed;
}

#nav .container {
  margin-top: 25px;
}

#nav #logo a {
  float:left;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}

#nav #navbar {
  float: right;
  margin-right: 50px;
}

#nav #navbar li {
  display: inline;
}

#nav #navbar a {
  color: #5a5a5a;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
  
  
  
  
