body {
	font-family: "", sans-serif;
	text-align: center;
}

#background {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url("http://static1.squarespace.com/static/540d1865e4b091e569d68f16/t/540d1dede4b034ea940ce0c3/1410145775478/columbia.jpg?format=2500w");
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 0;
}

#container {
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	margin-bottom: 45%;
	color: #666666;
	opacity: 40%;
	z-index: 1;
}

#case {
	margin-right: auto;
	margin-left: auto;
	margin-top: 15%;
	font-size: 75px;
	font-style: italic;
	text-align: center;
	color: white;
	font-size: 30px;
}

#generate {
	margin-left: auto;
	margin-right: auto;
	background-color: #5cd65c;
	border-radius: 50px;
	color: white;
	padding: 15px;
	width: 500px;
	height: 40px;
	font-size: 20px;
	border: none;
	vertical-align: middle;
	line-height: 40px;
	-webkit-transition: color .75s
	transition: color .75s;
}

#generate:hover {
	background-color: #3399ff;
}

