body {
	font-family: "", sans-serif;
	text-align: center;
}

#case {
	margin-right: auto;
	margin-left: auto;
	margin-top: 15%;
	font-size: 75px;
	font-style: italic;
	text-align: center;
	color: black;
	font-size: 30px;
}

#generate {
	margin-left: auto;
	margin-right: auto;
	background-color: #5cd65c;
	border-radius: 50px;
	color: white;
	padding: 15px;
	width: 500px;
	height: 40px;
	font-size: 20px;
	border: none;
	vertical-align: middle;
	line-height: 40px;
	-webkit-transition: color .75s
}

#generate:hover {
	background-color: #3399ff;
}

