body {
	font-family: "", sans-serif;
	text-align: center;
}

#background {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("http://static1.squarespace.com/static/540d1865e4b091e569d68f16/t/540d1dede4b034ea940ce0c3/1410145775478/columbia.jpg?format=2500w");
	-webkit-filter: grayscale(100%) blur(1px);
	z-index: 1;
}

#blur {
	position: fixed;
	padding: 0;
	z-index: 2;
	height: 60%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	-webkit-filter: blur(2px);
	background: rgba(102,102,102,.40);
}

#container {
	position: fixed;
	padding: 0;
	z-index: 3;
	height: 60%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
	background: rgba(102,102,102,0.3);
}

#case {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15%;
	font-size: 75px;
	text-align: center;
	color: white;
	font-size: 30px;
}

#generate {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	background-color: #5cd65c;
	border-radius: 50px;
	color: white;
	padding: 15px;
	width: 500px;
	height: 40px;
	font-size: 20px;
	border: none;
	vertical-align: middle;
	line-height: 40px;
	transition: all .25s;
}

#generate:hover {
	background-color: #3399ff;
}

